.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  list-style: none;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.green {
  color: green;
}

.red {
  color: red;
}

.blue {
  color: darkgrey;
}

/* body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnG4mnrHcn0SAkjTXfaY_E4EaJq_K_p_Mx59eqAkY2FirAvP_up0e10ywDda_wYUhC2v0&usqp=CAU');
  background-size: contain;
} */

body{
  background-image: url("https://c4.wallpaperflare.com/wallpaper/287/77/179/money-minimalism-wallpaper-preview.jpg");
  background-size: auto;
}

.transaction-page{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTThxlcvNbrVu50x5DWjoNmMaK3_kIQNu_CAKHg1zMBXXS6tP5bNwwrWQsSco-o8tz3uY&usqp=CAU');
  background-size: contain;
}

.transaction-li{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border: 1px solid green;
  margin: 1%;
  padding: 2%;
 
}

.detail-page{
  border: 1 px solid black;
}

.nav {
  display: grid;
  grid-template-columns: repeat(4,1fr);

  margin-top: 2%;

}



button {
background-color: bisque;
}

.showNavigation{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.trans-details{
  list-style: none;
  width: auto;
  border: 1px solid bisque;
  background-color: whitesmoke;
}

.new-tran input{
  margin-bottom: 1%;
}

.submit{
  background-color: bisque;
}



.profile{
  height: 250px;
}


.bio{
  text-align: center;
}

.bioList{
  list-style: none;
}

.links{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}