.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  list-style: none;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.green {
  color: green;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnG4mnrHcn0SAkjTXfaY_E4EaJq_K_p_Mx59eqAkY2FirAvP_up0e10ywDda_wYUhC2v0&usqp=CAU');
  background-size: contain;
}


.transaction-li{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border: 1px solid green;
  margin: 1%;
  padding: 2%;
 
}

.nav {
  display: grid;
  grid-template-columns: repeat(4,1fr);

  margin-top: 2%;

}



button {
background-color: bisque;
}

.showNavigation{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.trans-details{
  list-style: none;
  width: auto;
}

.new-tran input{
  margin-bottom: 1%;
}

.submit{
  background-color: bisque;
}



.profile{
  height: 200px;
}


.bio{
  text-align: center;
}

.bioList{
  list-style: none;
}